<!--{toplogo}-->

<h1 class="pageHeader">ASRS Request</h1>
<p>
    <!--{iferrmsgis000}-->
    <!-- No errors.-->
    <div align="center">
        <h2>Your request was successful.</h2>
        <p>
            <br/>The item status will show as "
            <span class="style2">Pickup at Circ</span>" when the item is available at the Case-Geyer Library Circulation Desk.
            <br/>
            <br/>Items are usually available within 15 minutes of your request during hours the library is open..
            <br/>
        </p>
    </div>
    <!--{xif}-->
    <!--{iferrmsgis001}-->
    This item has already been requested. Please ask a library staff member for help. (001)
    <!--{xif}-->
    <!--{iferrmsgis002}-->
    This item has already been checked out. Please ask a library staff member for help. (002)
    <!--{xif}-->
    <!--{iferrmsgis003}-->
    This item is not in the ASRS database. Please ask a library staff member for help. (003)
    <!--{xif}-->
    <!--{iferrmsgis004}-->
    This item is listed as missing. (004)
    <!--{xif}-->
    <!--{iferrmsgis005}-->
    This item has not been returned. (005)
    <!--{xif}-->
    <!--{iferrmsgis006}-->
    This item has an invalid barcode. (006)
    <!--{xif}-->
    <!--{iferrmsgis007}-->
    This item is available. Please ask a library staff member for help. (007)
    <!--{xif}-->
    <!--{iferrmsgis010}-->
    This item has been deleted from the ASRS database. Please ask a library staff member for help. (010)
    <!--{xif}-->
    <!--{iferrmsgis011}-->
    This item has a bad item status. Please ask a library staff member for help. (011)
    <!--{xif}-->
    <!--{iferrmsgis012}-->
    The item is in a secured location. Please ask a library staff member for help. (012)
    <!--{xif}-->
    <!--{iferrmsgis013}-->
    The item has a bad location code. Please ask a library staff member for help. (013)
    <!--{xif}-->
    <!--{iferrmsgis014}-->
    The item has a duplicate pick request. Please ask a library staff member for help. (014)
    <!--{xif}-->
    <!--{iferrmsgis015}-->
    The item has a Delete Pending status. Please ask a library staff member for help. (015)
    <!--{xif}-->
    <!--{iferrmsgis999}-->
    Your request cannot be processed at this time. Please ask a library staff member for help. (999)
    <!--{xif}-->
    <!--{iferrmsgisBAD}-->
    Your request cannot be processed at this time. Please ask a library staff member for help. Or try again later. (BAD)
    <!--{xif}-->
</p>
<p id="formLinks">
    <!--{return}-->
</p>
</div>
<!--pageContentInner -->
<!--{botlogo}-->
</body>

</html>
