@charset"UTF-8";

/* CSS Document */

/* Don't forget to set a foreground and background color 
   on the 'html' or 'body' element! */
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dd, dl, dt, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
 vertical-align: baseline;
}
a img, :link img, :visited img {
    border: 0;
}
table {
    font-family: Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
 background:#ffffe0;
    width:98%;
    margin:0 auto;
    border-collapse: collapse;
    */
    /* border: 0; */
}
/* Zebra striping */
 tr:nth-of-type(2n+1) {
    background: #eee;
}
td, th {
    padding: 6px;
    border-collapse: collapse;
    text-align: left;
}
th {
    /* color:#ffffe0;
	font-weight:bold;
	vertical-align:middle; 
	text-align:left;
	border-bottom:2px;
	padding:5px;
	/* padding:0; */
}
td {
    /* padding:3px; */
    /* background-color:#ffffe0; */
}
blockquote {
    margin-top:-1px;
    margin-bottom:-1px;
}
.center {
    text-align:center;
}
q:before, q:after, blockquote:before, blockquote:after {
    content:"";
}
.bullet li {
    list-style:disc;
    list-style-position:inside;
    padding-bottom:5px;
}
/* header / masthead */
 #sitesearch {
    color:#333;
    margin-left:10px;
    margin-top: 10px;
}
#hd {
    font-family: Trebuchet MS,Verdana,Arial,Helvetica,sans-serif;
 	font-size:xx-small;
    color: #373733;
    margin-top:-15px;
    margin-bottom:5px;
    margin-left:380px;
    font-weight:bold;
}
#hd a:link {
    color:#73684f;
    text-decoration: none;
    font-weight:bold;
}
#hd a:visited {
    color:#73684f;
    text-decoration: none;
    font-weight:bold;
}
#hd a:hover {
    color:#BE8E2F;
    text-decoration: none;
    font-weight:bold;
}
#hd a:float {
    color:#BE8E2F;
    text-decoration: none;
    font-weight:bold;
}
/* banner */
 #logo h2 {
    width: 275px;
    height: 70px;
    background:url(http://exlibris.colgate.edu/images/new-CUL-Logo.gif);
    background-repeat:no-repeat;
    text-indent:-9999px;
    padding-bottom:-3px;
}
#logo h1 {
    background-color:#EDE6CC;
    height:13px;
    background:url(http://exlibris.colgate.edu/images/cdc1.jpg);
    background-repeat:no-repeat;
    text-indent:-9999px;
}
/* main nav bar */
 ul#MenuBar {
    list-style:none;
    background-color:#7D1B1D;
    height:16px;
    font-size:160%;
    border-top:2px #7D1B1D solid;
    border-bottom:2px #7D1B1D solid;
    margin-left:3px;
    margin-right:3px;
    width:auto;
}
ul#MenuBar {
    margin: 0px 3px;
    padding: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    text-align: left;
    vertical-align:middle;
}
ul#MenuBar li {
    list-style-type: none;
    font-size:0.6em;
    float: left;
    padding-left:40px;
}
ul#MenuBar a:link {
    color:#ffffe0;
    font-weight:bold;
    text-decoration:none;
}
ul#MenuBar a:visited {
    color:#ffffe0;
    font-weight:bold;
    text-decoration:none;
}
ul#MenuBar a:hover {
    background-color:#EDE6CC;
    color:#7D1B1D;
    text-decoration:none;
    font-weight:bold;
}
ul#MenuBar a:float {
    background-color:#EDE6CC;
    color:#7D1B1D;
    text-decoration:none;
    font-weight:bold;
}
/* breadcrumb trail */
 #breadcrumb {
    border-top:solid #EDE6CC 2px;
    background-color:#ffffe0;
    height:37px;
    margin-left:3px;
    margin-right:3px;
}
#breadcrumb p {
    padding-left:5px;
    padding-top:10px;
    font-size:80%;
    font-weight:bold;
    color:#666;
    float:left;
}
#breadcrumb a:link {
    color:#666;
    font-weight:bold;
    text-decoration:none;
}
#breadcrumb a:visited {
    color:#666;
    font-weight:bold;
    text-decoration:none;
}
#breadcrumb a:hover {
    color:#BE8E2F;
    text-decoration:underline;
    font-weight:bold;
}
#breadcrumb a:float {
    color:#BE8E2F;
    text-decoration:underline;
    font-weight:bold;
}
#asklogo {
    float:right;
    border:2px solid #E5464E;
    margin-bottom:1px;
    padding-right:1px;
    padding-left:3px;
    padding-bottom:1px;
}
/* footer styles */
 #ft {
    clear:both;
    background-color:#ffffe0;
    border-top:3px #EDE6CC solid;
    font-size:x-small;
    padding:5px;
}
#ft p {
    text-align:center;
    color:#333;
}
#ft a:link {
    color:#73684f;
    text-decoration: none;
}
#ft a:visited {
    color:#73684f;
    text-decoration: none;
}
#ft a:hover {
    color:#BE8E2F;
    text-decoration: none;
}
/* colors for the locations guide */
 .case2 {
    color:#063;
}
.case4 {
    color:#C39;
}
.cooley {
    color:#06F;
}
/* icons */

/*
a[href=$".pdf"] {
	background:url(../images/Pdf_icon.gif) no-repeat center right;
	padding-right: 20px;
} /
