a:link, a:visited {background:#FFF; color:#000; text-decoration:underline; font-weight:bold;}
#bibDisplayBody a:link, #bibDisplayBody a:visited, #formLinks a:link, #formLinks a:visited {background:transparent; color:#000; text-decoration:underline; font-weight:bold;}
body { color:#000; background-color:#FFF; background-image:none; font-family:Times New Roman,Times,Georgia,serif; font-size:10pt; }
img { border:0; }
td { color:#000; background-color:#FFF; background-image:none; font-family:Times New Roman,Times,Georgia,serif; font-size:10pt; }
.bibPager, .bibResourceSidebar, .bibSearch, .briefcitMark, .briefcitRequest, .browseSaveJump, .browseSearchtool, .browseResourceTable, .buttonSpriteDiv, .navigationRow, .patActionsLinks, .searchNav, #skipNav, .topMyLibrary, .topLinks, .navigationRowRecord, .pageContent div .bibResourceSidebar { display:none; }
.pageContent .bibDisplayPermLink, .resourceHistory, .recordPager { display:none; }
.patActionsLinks, .patTop, .patFuncArea { border:0; }
.patFloat { background-image:none; }
.patFuncArea { float:none; margin-top:1em; width:auto; }
#bibDisplayBody div[align="center"] { display:none; }
#bibDisplayContent { display:block !important; }
.bibDisplayContentMain, .resourceDisplayContentMain { margin-left:1em; width:78%; }
.bibMedia { margin-top:2em; text-align:left; }
.bibDisplayJacket { margin:0 0 1em 0; }
.briefcitMedia, .bibMedia, .briefcitResourceMedia, .briefcitProgramMedia, td.browseEntryMedia, td.browseSubEntryMedia { font-size:50%; }
.bibItems td, .bibItems a { background-color:transparent; }
.bibDisplayItemsHeader h2 { color:#767C70; }
th.bibItemsHeader { color:#000000; font-family:Times New Roman,Times,Georgia,serif; font-size:10pt; }
#bibDisplayBody a:link, #bibDisplayBody a:visited { font-family:Times New Roman,Times,Georgia,serif; font-size:10pt; }
.bibDisplayItemsHeader h2, .resourceDisplayLicenseHeader h2 { color:#767C70; }
#bibDisplayBody .resourceDisplayBibs a:link  { font-size:80%; }
.briefcitActions { display:none; }
.briefcitCell { width:100%; }
.briefcitDetail a { background-color:transparent; }
.briefcitDetail, .briefcitAuthDetail { width: 70%; }
.briefcitItems h2 { color:#000000; }
.briefcitRow { margin:5px 0; }
h2.briefcitTitle { font-size:10pt; }
.briefcitDetailMain { width: 98%; float:left; }
.briefcitItemsMain { width:98%; }
.briefcitItems { width:auto; padding-left:0; }
.briefcitItems, .briefcitItems td, .briefcitItems th { font-size:90%; }
.briefcitRow { padding-left:0; }
.briefcitJacket { margin:0 .3em; }
.browseScreen > tbody > tr > td { width:0; }
.browseScreen > tbody > tr > td:first-child { width:100%; }
.browsePager { padding-top:0; }
.browsePager a { display:none; }
.briefcitCell { font-size:10pt; }
.briefcitMedia { margin-top:20px; }
.helpTopics { display:none; }
.helpContent #formLinks { display:none; }
.loggedInMessage { display:none; }
.patActionsLinks, .patTop, .patFuncArea { outline:none; }
.patFuncArea { margin:0; }
.patFunc a { background:transparent; }
.patFunc td { width:auto; }
table.patFunc { width:40em; font-size:90% }
.patTop {margin:0; }
.patFuncHeaders { text-align:left; }
tr.patFuncHeaders { border-bottom:1px solid #888888; }
.patFuncRating { text-align:left; }
.rateLabel { padding-left:1.5em; }
.resourcePager { display:none; }
.resourceDisplayBibs { clear:both; padding-top:1em; margin-left:-4em; }
.resourceDisplayContentMain { float:left; margin-left:1em; padding-left:4em; position:absolute; left:0; }
.resourceDisplayBibs td, .resourceDisplayBibs th, .resourceLicenseHeader { font-family:Times New Roman,Times,Georgia,serif; font-size:10pt; }
.topLogoSmall {display:block !important; }
.topLogoSmall img { border:0; float:none !important; }
#library-logo-main img {width:63px; height:34px;}
#catalog-header-main img {width:110px; height:34px}
/*** UNT Print Stuff ***/
body { width:100% !important; margin:0 !important; padding:0 !important; line-height: 1.4; word-spacing:1.1pt; letter-spacing:0.2pt; color: #000; background: none; font-size: 12pt; }
h1,h2,h3,h4,h5,h6 { font-family: Helvetica, Arial, sans-serif; }
h1{font-size:19pt;}
h2{font-size:17pt;}
h3{font-size:15pt;}
h4,h5,h6{font-size:12pt;}
code { font: 10pt Courier, monospace; } 
blockquote { margin: 1.3em; padding: 1em;  font-size: 10pt; }
hr { background-color: #ccc; }
legend {display:block !important;}
img { float: left; margin: 1em 1.5em 1.5em 0; }
a img { border: none; }
a:link, a:visited { background: transparent; font-weight: 700; text-decoration: underline;color:#333; }
a[href^="http://"] {color:#000; }
table { margin: 1px; text-align:left; }
th { font-weight: bold; }
td { border-bottom: 1px solid #333; }
th,td { padding: 4px 10px 4px 0; }
tfoot { font-style: italic; }
caption { background: #fff; margin-bottom:2em; text-align:left; }
thead {display: table-header-group;}
#header-wrap { background-image: none; height: auto; background-color: #008643; }
#header-top, #navigation-wrap, #footer-wrap, .topNavigation, .topNavContainer, #primaryNavigation, #navcontainer, .browseSuperEntry, .similarToThis, #sidebar, #siteactions, #footer, .fancybox_subjecthelp {	display:none; }
body .minHeight {min-width: 640px !important;}
#header {width:auto !important;}
#name-and-slogan {width:auto !important;}
.pageContent { border: 0 !important; }
.briefcitLeft {margin-right:15px; width:90px; float:left;}
.briefcitMedia {width:80px;}
.briefcitDetail, .briefcitAuthDetail {width:80%;}
.briefcitDetail, .briefcitAuthDetail a {display:block !important;}
.bibResourceSidebar {display:none !important;}
#bibDisplayContent {display:none; width:200px; float:left; margin:0; padding:0}
.bibHead {margin-left: 0 !important;}
.bibMedia {margin: 10px 0 5px 20px !important;}
.bibDetailsTop {margin: 0 0 15px 10px !important;}
.bibItems * {font-size:105% !important;}
.bibDisplayJacket {display:none; width:100%; margin:0; padding:0;}
.bibDisplayContentMain {margin: 0; padding:0; width:100% !important;}
.bibDisplayContentMain td {border-bottom:none !important;}
.addthis_toolbox, .refoworks, #policies, #nearbyItems, #worldCatIdentitiesLinks, #citationLink, #marcData, img.preview{ display:none !important; }
.displayTitle td.bibInfoData {font-weight:bold; font-size:15pt;}
td.bibInfoLabel, td.bibHeadingLabel, td.bibInfoLabelSuppressed  {width:110px !important; font-weight:normal; text-align:left; color:#666;}
.bibDisplayItems, .bibDisplayItemsMain {margin:0; position:relative; left:0; width:100%; text-align:left;}
.bibDisplayItemsMain {margin-bottom: 20px;}
.bibDisplayItems td {border-bottom:1px solid #ccc !important;}
.bibDisplayItems table {width:89%; text-align:left; margin:0;}
.bibDetailsBottom {margin-top:20px; clear:both; width:100%;}
table.bibItems a:link {border-bottom:none !important; text-decoration:none !important; font-weight:normal !important;}
#accessibleForm .browseSearchtool {display:block !important; margin:0; padding:0; font-size:100%;}
.ui-accordion .ui-accordion-content { display:block !important; }
.briefcitCell { border-color: #666 !important; padding-bottom:2em !important;}
.browseHeaderMark, .browseEntryMark { display: none; }
table.bibItems {page-break-inside: avoid;}